resume_from_checkpoint_path: "/home/czaccagnino/whitepage-4l/last.ckpt"
result_path: "result"
model_path: "/home/czaccagnino/whitepage-4l"
dataset_paths: ["/home/czaccagnino/0-full-arxiv-dataset/split/train.jsonl"]
tokenizer: "dataset/tokenizer.json"
empty_sample: "/home/czaccagnino/nougat/whitepage.pt"
exp_name: "Î¼gat-small-tables"
train_batch_sizes: [1]
num_workers: 8
val_batch_sizes: [1]
val_batches: 3000
input_size: [896, 672]
max_length: 4096
max_position_embeddings: 4096
accumulate_grad_batches: 3
window_size: 7
patch_size: 4
embed_dim: 128
hidden_dimension: 1024
num_heads: [4, 8, 16, 32]
encoder_layer: [2, 2, 14, 2]
decoder_layer: 4
align_long_axis: False
num_nodes: 1
seed: 25
adapter_lr: 5e-5
lr: 5e-5
min_lr: 7.5e-6
lr_step: 16
gamma: 0.9996
warmup_steps: 250
num_training_samples_per_epoch: 10000
max_epochs: 40
max_steps: -1
val_check_interval: null
check_val_every_n_epoch: 1
gradient_clip_val: 0.5
verbose: False
